<br>
<br>
<br>

<h1>Log In!</h1>

<%= render 'errors/flash_errors' %>


<%= form_tag sessions_path do %>
<table>
  <tr>
    <td><%= label_tag "Username" %></td>
    <td><%= text_field_tag :user_name %></td>
  </tr>
  <tr>
    <td><%= label_tag "Password"%></td>
    <td><%= password_field_tag :password %></td>
  </tr>
</table>
<br>
<%= submit_tag "Log In", class: "button" %>
<%end%>
