<br>
<br>
<br>

<h1>Sign Up!</h1>

<%= render 'errors/flash_errors' %>

<%= form_for @user do |f| %>
  <table>
    <tr>
      <td><%= f.label :user_name %></td>
      <td><%= f.text_field :user_name %></td>
    </tr>
    <tr>
      <td><%= f.label :full_name %></td>
      <td><%= f.text_field :full_name%></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation %></td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
</table>
<br>
  <%= f.submit "Sign Up", class: "button" %>
<% end %>
