<br>
<br>
<br>


<h3 class="username"><%= @user.full_name %>'s Events</h3>

<% if current_user.id == @user.id %>
<ul>
  <% @user.events.each_with_index do |event,i| %>
    <div class="each-event">
      <h3> <%= link_to event.title, event_path(event)%> </h3>
      <p> <%= event.location.neighborhood %> </p><br>

      <%= form_tag user_path(@user.id), method: "delete" do %>
      <%= hidden_field_tag "event_id", event.id  %>
      <%= submit_tag "Delete this Event"  %>
      <% end %>
    </div>
  <% end %>
</ul>
<% end %>
