<h1>Here Are Your Results:</h1>


<% @events.each do |event_data|%>
<div>
  <h2><%= event_data["Name"] %></h2>
  <%= event_data["Venue"]["Name"] %>
  <%= event_data ["Venue"]["Address"] %>
  <p><%= event_data["Description"] %></p>
  <%= form_tag save_path(@user.id), method: 'post' do%>
    <% params[:user][:title] = event_data["Name"]%>
    <% params[:venue_name] = event_data["Venue"]["Name"]%>
    <% params[:address] = event_data ["Venue"]["Address"]%>
    <% params[:description] = event_data["Description"]%>
    <%= submit_tag "Save Event" %>
  <% end %>
</div>
<% end %>
