<!DOCTYPE html>
<html>
  <head>
    <title>EventSpaceNyc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="main-nav">
      <ul>
        <% if logged_in? %>
          <p>Hello, <%=current_user.user_name  %></p>
          <li><%= link_to "SHOW ALL SAVED EVENTS", current_user %></li>
          <li><%= link_to "LOG OUT", logout_path, method: :post %></li>
          <li><%= link_to "SEARCH", search_path %></li>
          <li><%= link_to "HOME", home_path %></li>

        <% else %>
          <li><%= link_to "SIGN UP", signup_path %></li>
          <li><%= link_to "LOGIN", login_path %></li>
          <li><%= link_to "HOME", home_path %></li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
