<!DOCTYPE html>
<html>
  <head>
    <title>EventSpaceNyc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <nav class="main-nav">
      <ul>
        <% if logged_in? %>
          <p>Hello, <%=current_user.user_name  %></p>
          <li><%= link_to "SHOW ALL SAVED EVENTS", current_user %></li>
          <li><%= link_to "LOG OUT", logout_path, method: :post %></li>
          <li><%= link_to "SEARCH", search_path %></li>

        <% else %>
          <li><%= link_to "SIGN UP", signup_path %></li>
          <li><%= link_to "LOGIN", login_path %></li>
        <% end %>
      </ul>
    </nav>
=======
    <% if logged_in? %>
      Hello, <%=current_user.user_name  %>
      <%= link_to "Show All Saved Events", current_user %>
      <%= link_to "Log Out", logout_path, method: :post %>
      <%= link_to "Search", search_path %>
      <%= link_to "Home", home_path %>

    <% else %>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Login", login_path %>
      <%= link_to "Home", home_path %>
    <% end %>
>>>>>>> derek1

    <%= yield %>
  </body>
</html>
