<!DOCTYPE html>
<html>
  <head>
    <title>EventSpaceNyc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      Hello, <%=current_user.user_name  %>
      <%= link_to "Show all saved events", current_user %>
      <%= link_to "Log Out", logout_path, method: :post %>
      <%= link_to "Search", search_path %>

    <% else %>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Login", login_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
